.header{
    /* background-color: gray; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .sub-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
}
.header .sub-header .text-div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.header .sub-header .text-div h1{
    font-size: 1.85rem;
}
.header .sub-header .video-div{
    width: 40%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 2.5px gray,
                -1px -1px 2.5px gray;
}
.header .sub-header .video-div::-webkit-scrollbar{
    display: none;
}
.header .sub-header .video-div img{
    position: relative;
    height: 100%;
}
.header .sub-header .video-div .bound{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 40%;
}
.header .sub-header .video-div .bound video{
    position: relative;
    width: 100%;
    border-radius: 10px;
}
.header .sub-header .video-div .bound svg{
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.header .sub-header .video-div .cover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}


@media screen and (max-width: 929px) { 
    .header{
        height: 100%;
        width: 100vw;
    }
    .header .sub-header{
        flex-direction: column;
        height: 100%;
        width: 90%;
        gap: 30px;
        justify-content: center;
        margin: 30px 0;
    }
    .header .sub-header .video-div img{
        width: 100%;
    }
    .header .sub-header .text-div{
        width: 90%;
        align-items: left;
    }
    .header .sub-header .video-div{
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
    .header .sub-header .text-div{
        width: 100%;
    }
    .header .sub-header .video-div{
        width: 100%;
    }
}