.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 50px;
}
.register h2{
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    width: 80%;
}
@media screen and (max-width: 760px) {
    .register h2{
        width: 90%;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}